/* Aos Animations */
[data-aos="fade-up-sm"] {
  transform: translate3d(0, 20px, 0);
}

[data-aos="fade-down-sm"] {
  transform: translate3d(0, -20px, 0);
}

[data-aos="zoom-in-up-sm"] {
  transform: translateZ(0) scale(0.95);
}

[data-aos="fade-left-sm"] {
  transform: translate3d(-15px, 0, 0);
}

[data-aos="fade-right-sm"] {
  transform: translate3d(15px, 0, 0);
}

/* section style */
.section {
  @apply py-10 md:py-14;
}

/* Container */
.container {
  @apply mx-auto px-4 xl:!max-w-[1200px];
}

/* List */
.list {
  @apply pl-8;
  li {
    @apply relative;
    &::before {
      @apply text-text-light absolute top-2 left-[-2rem] flex h-5 w-5 items-center justify-center rounded-full border bg-center bg-no-repeat content-[""] sm:top-1;
      background-size: 80%;
      background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='white' stroke-width='0' viewBox='0 0 448 512' height='200px' width='200px' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z'%3E%3C/path%3E%3C/svg%3E");
    }
  }
}
.list-dark {
  li::before {
    @apply border-text-dark bg-text-dark;
  }
}
.list-tertiary li::before {
  @apply border-tertiary bg-tertiary;
}

/* social icons */
.social-icons {
  li {
    @apply inline-block;
    a {
      @apply text-text-dark flex h-9 w-8 items-center justify-center rounded text-center leading-9;
      svg {
        @apply h-5 w-5;
      }
    }
  }
}

/* notice */
.notice {
  @apply mb-6 rounded-lg border px-8 py-6;
  .notice-head {
    @apply flex items-center;
    svg {
      @apply mr-3;
    }
    p {
      @apply font-secondary text-text-dark text-xl font-semibold;
    }
  }
  .notice-body {
    @apply mt-3;
    p {
      @apply my-0;
    }
  }

  &.note {
    @apply text-[#1B83E2];
    @apply border-current;
  }

  &.tip {
    @apply text-[#40D294];
    @apply border-current;
  }

  &.info {
    @apply text-[#E3A72C];
    @apply border-current;
  }

  &.warning {
    @apply text-[#DB2C23];
    @apply border-current;
  }
}

/* tab */
.tab {
  @apply border-border overflow-hidden rounded-lg border;
}
.tab-nav {
  @apply border-border bg-light flex border-b;
  @apply m-0!;
  @apply list-none!;
}
.tab-nav-item {
  @apply border-border text-text-dark cursor-pointer border-b-[3px] py-2 text-lg/[inherit] opacity-80;
  @apply my-0!;
  @apply px-8!;

  &.active {
    @apply border-text-dark border-b-[3px] opacity-100;
  }
}
.tab-content-panel {
  @apply p-8;
  p {
    @apply mb-0;
  }
  &.active {
    @apply block;
  }
}

/* accordion */
.accordion {
  @apply bg-light min-h-full gap-4 overflow-hidden rounded-md;

  &.active {
    @apply bg-text-dark/5;
    .accordion-header {
      @apply pb-0;
    }
    .accordion-content {
      @apply max-h-full pt-4 pb-8;
    }
  }
}
.accordion-header {
  @apply text-text-dark flex w-full cursor-pointer flex-col gap-4 p-8 text-start text-xl font-medium select-none sm:flex-row;
}
.accordion-content {
  @apply max-h-0 overflow-hidden px-8 text-lg/[inherit];
}

/* modal */
.modal {
  @apply fixed inset-0 z-40 hidden h-full w-full overflow-auto;
}
.modal-overlay {
  @apply fixed inset-0 z-40 hidden h-full w-full bg-black opacity-40;
}
.modal-content {
  @apply bg-body relative top-1/2 z-50 mx-auto max-w-[90%] -translate-y-1/2 rounded-lg p-8;
}
.modal-close {
  @apply bg-light text-text-dark absolute top-3 right-3 h-8 w-8 rounded-full text-center leading-8;
}

/* content style */
.content {
  @apply prose max-w-none;
  @apply prose-headings:mb-[.5em] prose-headings:mt-[1em] prose-headings:font-medium prose-headings:text-text-dark;
  @apply prose-h1:text-h1-sm;
  @apply prose-h2:text-h2-sm;
  @apply prose-h3:text-h3-sm;
  @apply prose-img:max-w-full prose-img:rounded-3xl;
  @apply prose-hr:border-border;
  @apply prose-p:text-lg/[inherit] prose-p:text-text;
  @apply prose-blockquote:rounded-lg prose-blockquote:border prose-blockquote:border-l-[10px] prose-blockquote:border-primary prose-blockquote:bg-light prose-blockquote:px-8 prose-blockquote:py-10 prose-blockquote:font-secondary prose-blockquote:text-2xl prose-blockquote:not-italic prose-blockquote:text-text-dark;
  @apply prose-pre:rounded-lg prose-pre:bg-light;
  @apply prose-code:px-1 prose-code:text-primary;
  @apply prose-strong:text-text-dark;
  @apply prose-a:text-text prose-a:underline hover:prose-a:text-primary;
  @apply prose-li:text-text;
  @apply prose-table:relative prose-table:overflow-hidden prose-table:rounded-lg prose-table:before:absolute prose-table:before:left-0 prose-table:before:top-0 prose-table:before:h-full prose-table:before:w-full prose-table:before:rounded-[inherit] prose-table:before:border prose-table:before:content-[""];
  @apply prose-thead:border-border prose-thead:bg-light;
  @apply prose-th:relative prose-th:z-10 prose-th:px-4 prose-th:py-[18px] prose-th:text-text-dark;
  @apply prose-tr:border-border;
  @apply prose-td:relative prose-td:z-10 prose-td:px-3 prose-td:py-[18px];

  & > *:first-child {
    @apply mt-0;
  }
  & > *:last-child {
    @apply mb-0;
  }
}
